<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>2호선 뭐먹지?</title>
    <!--    제이쿼리 및 부트스트랩    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--      meta date      -->
    <meta property="og:title" content="2호선 뭐먹지?"/>
    <meta property="og:description" content="'2호선 뭐먹지?'에서 맛집을 찾아드립니다."/>
    <meta property="og:image" content="{{ url_for('static', filename='subway.png') }}"/>

    <!--    main css    -->
    <link rel="stylesheet" href="../static/css/main.css"/>

    <!--    구글폰트    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <script>
        function my_locate(){
            document.getElementById("line1").style="background-color:white; color : black"
        }
    </script>

</head>
<body>

<!--   Header   -->
    <h1 class="logo">
        <button onclick="location.href='/shop'" id="home" type="button"><i>2호선, 뭐먹지?</i></button>
    </h1>
    <div id="header">
        <div class="nav">
            {%for station in stations %}
            <button onclick="location.href='/shop/{{station}}'" id="line1" type="button">{{station}}</button>
            {% endfor %}
            <button onclick="location.href='/my/reviews'" id="my_info" type="button">내 정보</button>
     </div>
    </div>
    <!--    shop list    -->
    <div id="list_wrap">
    <div id="list-box">
        {% for table in shop %}
            {% set shop_image = table.img_url %}
            {% set shop_name = table.name %}
            {% set shop_address = table.address %}
            {% set shop_like = table.like %}
            <div class="card">
                <img src="{{ shop_image }}" alt="">
                <p class="name">{{ shop_name }}</p>
                <p class="place">{{ shop_address }}</p>
                {% for page in title %}
                    {% if page.shop == table.name %}
                        {% set page_score = page.score %}
                        {% set page_review = page.reviews %}
                        {% set page_shop = page.shop %}
                        <p class="review" style="max-height:26px; overflow: hidden">"{{page_review}}"</p>
                        <p class="point">{{shop_like}}점</p>
                    {% break %}
                    {% endif %}
                {%endfor%}
                {% if table.like == 0 %}
                <p class="review">첫 리뷰를 달아주세요!!</p>
                <p class="point">0점</p>
                {% endif %}
                <a onclick="location.href='/review/{{ shop_name }}'" class="review_btn">자세히보기</a>
            </div>
        {% endfor %}
    </div>
    </div>
</body>
</html>


