<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>2호선 뭐믹지?</title>
    <!--    제이쿼리 및 부트스트랩    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--      meta date      -->
    <meta property="og:title" content="2호선 뭐먹지?"/>
    <meta property="og:description" content="'2호선 뭐먹지?'에서 맛집을 찾아드립니다."/>
    <meta property="og:image" content="{{ url_for('static', filename='subway.png') }}"/>

    <!--    main css    -->
    <link rel="stylesheet" href="../static/css/main.css"/>

    <!--    구글폰트    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
</head>
<body class="wrap" style="background-image: url(../static/img/back.png)">
<h1 class="logo" style="padding-top: 50px;">
    <button onclick="location.href='/shop'" id="home" type="button" style="background-color: unset"><i style="font-size: 100px;">내 리뷰</i></button>
</h1>
<div id="list-box">
    {% for table in review %}
        {% set review_name = table.shop %}
        {% set review_user = table.user %}
        {% set review_img = table.img %}
        {% set review_desc = table.reviews %}
        {% set review_score = table.score %}
        {% set review_date = table.date %}
            {% for admin in user %}
                {% set admin_name = admin.username %}
                    {% if admin_name == review_user %}
                    <div class="card mb-3">
                        <img src="{{review_img}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{review_name}}</h5>
                            <p class="card-text" style="font-size: 10px; text-align: end">{{review_date}}</p>
                            <p class="card-text" style="max-height: 24px; overflow: auto">{{review_desc}}</p>
                            <p class="card-text" style="font-size:11px; text-align: end">그래서 {{review_score}}점이네요</p>
                            <div style="display: flex;flex-direction: row; justify-content: space-between;">
                                <button style="border: none; background-color: unset" onclick="modify_area('{{review_name}}')">수정
                                </button>
                                <button style="border: none; background-color: unset"
                                        onclick="delete_area('{{review_name}}','{{review_desc}}')">삭제
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}
    {% endfor %}
</div>
</body>
<!--modify_review('{{review_desc}}','{{review_name}}')-->
<script>
    function modify_area(review_name) {
        let newReview = prompt("리뷰만 수정이 가능합니다.")
        modify_review(newReview, review_name)
    }
    function delete_area(review_name, review_desc){
        let newReview = confirm("삭제 하시겠습니까?")
        if(newReview)
            delete_review(review_name, review_desc)
    }

    function delete_review(review_name, review_desc) {
        $.ajax({
            type: "POST",
            url: "/my/review/delete",
            data: {review_name: review_name, review_desc: review_desc},
            success: function (response) {
                alert(response["msg"])
                window.location.reload()
            }
        })
    }

    function modify_review(review_desc, review_name) {
        if (review_desc !== null && review_desc !== "") {
            $.ajax({
                type: "POST",
                url: "/my/review/modify",
                data: {review_desc: review_desc, review_name: review_name},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            })
        }
        else if (review_desc===null) ;
        else {
            alert("입력해주세요!")
        }
    }
</script>
</html>